<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="SUMHUB" value="2" />
  </appSettings>
  
  <connectionStrings>
    <add name="WinDbEntities" connectionString="metadata=res://*/BcModel.csdl|res://*/BcModel.ssdl|res://*/BcModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=101.251.70.209;initial catalog=WinDb;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>

  <system.serviceModel>
    <services>
      <service name="BcManagement.BcManagementService" behaviorConfiguration="BcServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:7979/bcwinmanage"/>
          </baseAddresses>
        </host>
        <endpoint address="net.tcp://localhost:7979/bcwinmanage" binding="netTcpBinding" contract="BcWin.Contract.IBcManageService" bindingConfiguration="WSDualHttpBindingBcWinService"/>
      </service>
      
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="WSDualHttpBindingBcWinService" maxConnections="1000" listenBacklog="100" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <security mode="None"></security>
          <reliableSession enabled="false"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BcServiceBehavior">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceThrottling maxConcurrentCalls="10" maxConcurrentInstances="200" maxConcurrentSessions="2147483647"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
  <log4net>
    <!-- Appenders -->
    <appender name="console" type="log4net.Appender.ConsoleAppender, log4net">
      <layout type="log4net.Layout.PatternLayout, log4net">
        <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n"/>
      </layout>
    </appender>
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender, log4net">
      <file value="log/BcManagement.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maximumFileSize value="2MB"/>
      <maxSizeRollBackups value="100"/>
      <staticLogFileName value="true"/>
      <countDirection value="0"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%level] [%t] %c : %m%n%exception%n"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="console"/>
      <appender-ref ref="rollingFile"/>
    </root>
  </log4net>
</configuration>
